<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Data</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='assets/IA_Logo_Horizontal_negative.png') }}" alt="IA Logo" id="ia-logo">
        <nav>
            <a href="/">Dashboard</a>
            <a href="/kanban">Kanban Board</a>
            <a href="/theory_of_change">Theory of Change</a>
            <a href="/project_data">Project Data</a> <!-- Added link to Project Data -->
        </nav>
        <a href="https://www.integrityaction.org" id="visit-button" target="_blank">
            Visit IntegrityAction.org
            <img src="{{ url_for('static', filename='assets/IA_Icons_External_Link.png') }}" alt="External Link Icon">
        </a>
    </header>
    <header>
        <h1>Project Data</h1>
    </header>
    <main>
        <br>
        <br> <!-- Added extra line break for space -->
        <!-- Add iframe here -->
        <iframe title="PouPresSEND GHANA Partner Dashboard[7]" width="800" height="486" src="https://app.powerbi.com/view?r=eyJrIjoiZWY1OTFmYjgtNzZmNC00YjczLThkNWMtYzhhNTZjZDkwMTk0IiwidCI6ImY0ZjU4N2ZmLTQ2OGEtNDA0ZC1iOWQ1LTJmMTEwZTIzYjEyNyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </main>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
